@font-face {
  font-family: AvenirNextLight;
  src: url('/static/fonts/avenir/Avenir Light.otf');
}
@font-face {
  font-family: AvenirNextBold;
  src: url('/static/fonts/avenir/Avenir Next Bold.otf');
}

body, html{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
*{
  font-family: AvenirNextLight;
}
 .login-form h3{
   font-family: AvenirNextBold;
 }
 .bg-blue{
   background: #53207D;
   color: white !important;
 }
.bg-blue i, .bg-blue a{
  color: white;
}
 .text-blue{
   color: #53207D;
 }
 .text-black{
   color: #4a4a4a;
 }
 .bg-red{
   background: #d0021b;
   color: white;
 }
 *{
   font-family: AvenirNextLight;
 }

.spinner{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid rgb(2, 59, 102);
  border-top-color: #ffffff;
  display: none;
  animation: spin 1s ease-in-out infinite;
  
}

@keyframes spin{
  from{
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to{
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*.fade-enter-active, .fade-leave-active {*/
  /*transition: opacity 0.1s*/
/*}*/

/*.fade-enter, .fade-leave-active {*/
  /*opacity: 0;*/
/*}*/
