<template>
  <div class="auth">
    <header>
      <div class="logo">
        <a href="javascript:void(0)">
          <img src="/static/img/logo.png"/>
        </a>
      </div>
      <div class="search-form">
        <input type="text" v-model="term" @keydown.enter="search($event)" placeholder="Search Dashboard"/>
        <button class="btn btn-sm" @click="search($event)"> <div class="spinner"></div> <i class="fa fa-search"></i></button>
      </div>
      <div class="user">
        <a href="#">
          <span class="username">{{user.name}}</span>
          <img src="/static/img/avatar.jpg"/>
        </a>
        <router-link :to="{name: 'Login'}" tag="a" href="#" class="logout">
          <img @click="logout" src="/static/img/w3msys-admin-icons/icon-logout%20@3x.png" style="width: 40px; height: 40px;"/>
        </router-link>
        <a href="#" class="bars" @click.prevent="toggleSidebar">
          <span class="fa fa-bars" v-if="sidebarHidden"></span>
          <span class="fa fa-times" v-else></span>
        </a>
      </div>
    </header>
    <aside class="sidebar" id="sidebar">
      <ul>
        <router-link :to="{name: 'Dashboard'}" tag="li" activeClass="activeLink">
          <a href="#">
            <i>
              <img class="grey-icon" src="/static/img/w3msys-admin-icons/icon-summary@3x.png"/>
              <img class="white-icon" src="/static/img/w3msys-admin-icons/icon-white/icon-summary@3x.png"/>
            </i>
          </a>
          <span class="hide">Summary</span>
        </router-link>
        <router-link :to="{name: 'Hotels'}" tag="li" activeClass="activeLink">
          <a href="#">
            <i>
              <img class="grey-icon" src="/static/img/w3msys-admin-icons/icon-hotel@3x.png"/>
              <img class="white-icon" src="/static/img/w3msys-admin-icons/icon-white/icon-hotel@3x.png"/>
            </i>
          </a>
          <span>Hotels</span>
        </router-link>
        <router-link :to="{name: 'Managers'}" tag="li" activeClass="activeLink">
          <a href="#">
            <i>
              <img class="grey-icon" src="/static/img/w3msys-admin-icons/icon-manager@3x.png"/>
              <img class="white-icon" src="/static/img/w3msys-admin-icons/icon-white/icon-manager@3x.png"/>
            </i>
          </a>
          <span>Managers</span>
        </router-link>
      </ul>
    </aside>
    <div class="content">
      <!--<transition name="fade" mode="out-in">-->
        <router-view></router-view>
      <!--</transition>-->
      <!--<app-delete-modal></app-delete-modal>-->
    </div>
  </div>
</template>
<script>
/* eslint-disable no-undef */
export default {
  computed: {
    user () {
      return this.$store.getters.getUser
    }
  },
  mounted () {
    $('body').css({background: 'rgba(216, 216, 216, 0.15)'})

    // this.axios({
    //   method: 'get',
    //   url: 'summary'
    // }).then(response => {
    //   this.$store.dispatch('initStore', response.data)
    // }).catch(error => {
    //   console.log(error)
    // })

    this.$api.getUser()
    this.$api.getHotels()
    this.$api.getManagers()

  },

  data () {
    return {
      sidebarHidden: true,
      term: ''
    }
  },

  methods: {
    logout () {
      this.$store.dispatch('clearState')
    },
    toggleSidebar () {
      let sidebar = document.getElementById('sidebar')
      if (this.sidebarHidden) {
        sidebar.style.marginLeft = 0
      } else {
        sidebar.style.marginLeft = '-150px'
      }
      this.sidebarHidden = !this.sidebarHidden
    },
    search (event) {
      let url = `?type=${this.$route.name.toLowerCase()}&term=${this.term}`
      let target = $(event.target)
      if (!target.hasClass('btn')) {
        target = target.parent()
      }

      let showSpinner = (show) => {
        if (!show) {
          target.find('.spinner').hide()
          target.find('i').show()
        } else {
          target.find('.spinner').css({display: 'inline-block'})
          target.find('i').hide()
        }
      }
      
      showSpinner(true)
      this.axios({
        url, method: 'get'
      }).then(response => {
        console.log(response.data)
        showSpinner(false)
      }).catch(err => {
         showSpinner(false)
      })
    }
  }
}
</script>
<style>
body{
  background: rgba(216, 216, 216, 0.15);
}
  .auth header{
    background: #33125e;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.05);
    width: 100%;
    overflow: hidden;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 3;
  }
  .auth header .logo{
    /*width: 10%;*/
    display: inline-block;
    /*background: red;*/
  }
  .auth header .logo img{
    width: 80px;
    height: 80px;
    margin: auto;
  }
  .search-form{
    display: inline-block;
    width: 300px;
    margin: 0 0 0 100px;
    transition: margin 0.5s ease;
    position: relative;
    /* background: red; */
  }
  .search-form input{
    width: 100%;
    border-radius: 25px;
    background-color: #53207D;
    color: white;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
    outline: none;
    border: 1px solid #1E033A;
    padding: 6px 30px 6px 30px;
    font-size: 15px;
    position: relative;
  }
  .search-form input::placeholder{
    font-size: 12px;
    color: white;
  }
  .search-form .btn{
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 100%;
    width: 50px;
    background: #117acb;
    color: white;
    border: 2px solid #117acb;
  }
  .search-form .btn:hover{
    /* color: #117ACB;
    background: transparent; */
    box-shadow: 1px 1px 5px grey;
  }
  .search-form .btn:focus{
    box-shadow: none;
  }
  .user{
    display: inline-block;
    float: right;
    /*background: purple;*/
  }
  .user a{
    color: #ffffff;
    text-decoration: none;
  }
.bars{
  font-size: 30px;
  color: #117ACB !important;
  margin-left: 20px;
  display: none;
}
  .user a:hover{
    color: #117ACB;
  }
  .user img{
    height: 60px;
    width: 60px;
    border-radius: 40px;
    margin-left: 20px;
    /* border: 5px solid #1E033A; */
  }
  .logout{
    font-size: 30px;
    display: inline-block;
    padding-left: 20px;
  }
  .auth aside.sidebar{
    width: 150px;
    height: 100%;
    position: fixed;
    background: white;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.05);
    transition: margin-left 0.5s ease-in;
    margin-top: 120px;
    top: 0;
    z-index: 1;
  }
  .sidebar ul{
    list-style-type: none;
    padding: 0;
    position: relative;
  }
  .sidebar ul li a{
    display: block;
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 40px;
    border-right: 4px solid transparent;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-bottom: 10px;
    position: relative;
  }
  .sidebar ul li{
    margin: 20px 0px 20px 0px;
    font-family: Lato;
  }
  .sidebar ul li a i{
    display: inline-block;
    width: 60px;
    height: 60px;
    padding-top: 10px;
    /*padding: 10px;*/
    /*background: #117ACB;*/
    color: #9b9b9b;
    border-radius: 40px;
    transition: width 1s;
  }
  .sidebar ul li a:hover, .activeLink a{
    border-right-color: #33125e;
  }
.sidebar ul li a:hover i{
  background: #53207D;
  color: white;
}
  .sidebar ul li span{
    display: block;
    text-align: center;
    color: #4a4a4a;
  }
  .auth div.content{
    margin-left: 150px;
    margin-top: 115px;
    padding: 50px;
    transition: margin-left 1s ease-in;
  }
  .activeLink a i{
    background: #53207D;
    color: white !important;
  }
  .activeLink a{
    border-right-color: #53207D !important;
  }
  *{
    transition: display 0.5s ease-in;
  }
  i img{
    width: 50px;
    height: 50px;
    margin-top: -30px;
  }
  i img.white-icon{
    display: none;
  }
  i img.grey-icon{
    /*display: none;*/
  }
.sidebar ul li a:hover i img.grey-icon, .activeLink a i img.grey-icon{
  display: none;
}
.sidebar ul li a:hover i img.white-icon, .activeLink a i img.white-icon{
  display: inline;
}
.fade-enter{
  opacity: 0;
}
.fade-enter-active{
  transition: opacity 1s ease-in;
  /*opacity: 1;*/
}
.fade-leave{
  /*opacity: 1;*/
}
.fade-leave-active{
  transition: opacity 1s;
  /*opacity: 0;*/
}
  @media screen and (max-width: 780px){
    .search-form{
      margin-left: 30px;
    }
  }
  @media screen and (max-width: 768px) {
    .auth aside.sidebar{
      margin-left: -150px;
    }
    .auth div.content{
      margin-left: 0;
    }
    .user{
      clear: both;
      text-align: center;
      margin-top: auto;
      height: 80px;
      padding-top: 10px;
    }
    .user img{
      margin-left: 5px;
    }
    .search-form{
      /*display: none;*/
    }
    .username{
      display: none;
    }
    .bars{
      display: inline-block;
    }
  }
  @media screen and (max-width: 650px){
    .search-form{
      display: none;
    }
  }
</style>
