<template>
  <div class="dashboard">
    <app-noinfo v-if="!hasData"></app-noinfo>
    <app-summary v-else></app-summary>
  </div>
</template>
<script>
import AppNoinfo from './noinfo.vue'
import AppSummary from './summary.vue'
import {mapGetters} from 'vuex'
export default {
  components: { AppNoinfo, AppSummary },
  computed: {
    ...mapGetters({
      hotels: 'getHotels',
      managers: 'getManagers'
    }),
    hasData () {
      if (this.hotels.length || this.managers.length) {
        return true
      }
      return false
    }
  }
}
</script>
