<template>
  <div class="no-info">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <h1 class="text-blue">Hi Aaron,</h1>
        <p>There are currently no hotels or manager information added to the system</p>
        <div class="buttons">
          <router-link :to="{name: 'Hotels', params: {isAdd: true}}" tag="button" class="btn add-hote">ADD HOTEL</router-link>
          <router-link :to="{name: 'Managers', params: {isAdd: true}}" tag="button" class="btn bg-blue">ADD MANAGER</router-link>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.no-info{
  margin-top: 100px;
}
  h1{
    font-size: 60px;
  }
  p{
    color: #aaaaaa;
  }
  .btn{
    color: white;
    width: 250px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 20px;
  }
</style>
