<template>
  <div class="dashboard">
    <div class="row">
      <!--<div class="col-sm-1"></div>-->
      <div class="col-sm-5">
        <div class="dashboard-card">
          <span class="fa fa-home"></span>
          <div class="info">
            <h1 class="text-blue">{{hotels.length}}</h1>
            <p class="text-blue">Hotels</p>
          </div>
        </div>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-5">
        <div class="dashboard-card">
          <span class="fa fa-user"></span>
          <div class="info">
            <h1 class="text-blue">{{managers.length}}</h1>
            <p class="text-blue">Hotel Managers</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="dashboard-table">
          <p>Hotels Details</p>
          <app-table>
            <thead class="bg-blue" slot="header">
            <th>Name</th>
            <th>Location</th>
            <th>Contact</th>
            <th>Manager</th>
            <th>Website</th>
            </thead>
            <tbody slot="body">
            <tr v-for="(hotel, index) in hotels" :key="index">
              <td>{{hotel.name}}</td>
              <td>{{hotel.location ? hotel.location.town + ', ' : ''}} {{hotel.location ? hotel.location.region : ''}}</td>
              <td>{{hotel.contact}}</td>
              <td>{{hotel.manager ? hotel.manager.name : 'not set'}}</td>
              <td>
                <a v-if="hotel.website" target="blank" :href="hotel.website ? hotel.website : 'javascript:void(0)'">{{hotel.website}}</a>
              </td>
            </tr>
            </tbody>
            <div class="pages text-center p-3" slot="pagination">
              <!--<a href="#" class="previous">Previous</a>-->
              <a href="#">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
              <a href="#">6</a>
              <a href="#">7</a>
              <a href="#" class="next">Next</a>
            </div>
          </app-table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import AppTable from '../commons/table.vue'
import {mapGetters} from 'vuex'
export default {
  components: {
    AppTable
  },
  computed: {
    ...mapGetters({
      hotels: 'getHotels',
      managers: 'getManagers'
    })
  }
}
</script>
<style>
  .dashboard{
    width: 100%;
  }
  .dashboard-card{
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
    border: none;
    padding: 20px 60px;
  }
  .dashboard-card span{
    /*display: inline-block;*/
    /*height: 100px;*/
    /*width: 20%;*/
    font-size: 150px;
    color: gold;
  }
  .dashboard-card .info{
    box-sizing: border-box;
    display: inline-block;
    width: 100px;
    height: auto;
    padding: 10px 30px;
    text-align: center;
    /*background: red;*/
    margin-top: 10px;
    width: calc(100% - 150px);
  }
  .info h1{
    font-size: 70px;
  }
  .dashboard-table{
    margin-top: 20px;
  }
  .dashboard-table p{
    font-family: Lato;
    margin-bottom: 20px;
  }
</style>
