<template>
  <div class="deleteModal">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3">
        <div class="dm">
          <slot name="message"></slot>
          <br>
          <slot name="cancel"></slot>
          <slot name="confirm"></slot>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.deleteModal{
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  background: rgba(220, 220, 220, 0.45);
  top: 0;
  left: 0;
  overflow: hidden;
  /*display: none;*/
}
  .dm{
    background-color: #d8d8d8;
    width: 70%;
    margin: 150px auto;
    padding: 100px 100px;
    text-align: center;
    border: 1px solid #bbbbbb;
  }
  .btn{
    opacity: 1;
    border-radius: 20px;
  }
  @media screen and (max-width: 768px){
    .dm{
      padding: 100px 20px;
    }
  }
@media screen and (max-width: 980px){
  .dm{
    padding: 100px 20px;
  }
}
</style>
