<template>
<div>
  <table>
    <slot name="header"></slot>
    <slot name="body"></slot>
  </table>
  <slot name="pagination"></slot>
</div>
</template>
<style scoped>
  table{
    width: 100%;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
  }
  th{
    color: white;
  }
  thead th, tr td{
    padding: 15px 20px;
    font-weight: normal;
    font-family: Lato;
  }
  tr td{
    color: #4a4a4a;
  }
  tr:nth-child(even){
    background-color: #d8d8d8;
  }
  .pages{
    letter-spacing: 10px;
  }
  .pages a{
    color: #4a4a4a;
    /*font-weight: bold;*/
    text-decoration: none;
    font-family: Lato;
  }
  .pages a:hover{
    color: #117ACB;
  }
  .previous, .next{
    letter-spacing: 0px;
    color: #117ACB !important;
  }
</style>
