<template>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 offset-md-2 offset-lg-2">
      <div class="add-hotel">
        <h5>Add Hotel Information  <a href="#" @click.prevent="$emit('cancelAdd')" class="float-right">
          <i class="fa fa-close"></i>
        </a></h5>
        <p class="text-center" v-if="status.hasError !== null" :class="{'text-danger': status.hasError === true, 'text-success': status.hasError === false}">{{status.message}}</p>
        <form class="add-hotel-form" @submit.prevent="validateBeforeSubmit">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="text-danger" v-if="errors.has('name')">{{errors.first('name')}}</label>
                <input v-model="name" name="name" v-validate="'required'" type="text" placeholder="Hotel Name *" class="form-control"/>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="text-danger" v-if="errors.has('hospitality_type')">{{errors.first('hospitality_type')}}</label>
                <select v-model="hospitality_type" name="hospitality_type" v-validate="'required'" type="text" placeholder="Hospitality Type *" style="padding-bottom:0;" class="form-control">
                  <option value="Guest House">Guest House</option>
                  <option value="Hotel">Hotel</option>
                  <option value="Hostel">Hostel</option>
                  <option value="Movie House">Movie House</option>
                  <option value="Lounge">Lounge</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <!-- <label class="text-danger" v-if="errors.has('location')">{{errors.first('location')}}</label> -->
                <input name="town" v-model="location.town" type="text" placeholder="Town" class="form-control"/>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <!-- <label class="text-danger" v-if="errors.has('location')">{{errors.first('location')}}</label> -->
                <input name="region" v-model="location.region" type="text" placeholder="Region" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="text-danger" v-if="errors.has('contact')">{{errors.first('contact')}}</label>
                <input v-model="contact" name="contact" v-validate="'required|numeric|min:10'" type="text" placeholder="Phone *" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <input type="text" v-model="website" name="website" placeholder="Website" class="form-control"/>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <a href="javascript:void(0)" :style="{color: shouldAddManager ? 'red' : 'blue'}" @click="shouldAddManager = !shouldAddManager">{{shouldAddManager ? 'Cancel' : 'Add Manager'}}</a>
            </div>
          </div>

          <div class="add-manager-form" v-if="shouldAddManager">
            <h4 class="mb-3">Provide Manager Details</h4>
            <span class="text-danger" v-if="manager.errorMessage">{{manager.errorMessage}}</span>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <input type="text" v-model="manager.fname" class="form-control" placeholder="Firstname *">
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <input type="text" v-model="manager.surname" class="form-control" placeholder="Surname">
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" v-model="manager.email" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" placeholder="Phone" v-model="manager.phone" class="form-control">
            </div>
          </div>
          
          <div class="row">
            <div class="col-sm-12 text-center">
              <button v-if="!loading" type="submit" class="btn bg-blue">+ ADD HOTEL</button>
              <a href="javascript:void(0)" class="btn bg-blue disabled" v-else><span class="fa fa-spinner fa-spin"></span> Please wait...</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      name: '',
      location: {town: '', region: ''},
      contact: '',
      website: '',
      hospitality_type: 'Hotel',
      manager: {
        fname: '',
        surname: '',
        email: '',
        phone: '',
        errorMessage: ''
      },
      loading: false,
      shouldAddManager: false,
      status: {
        hasError: null,
        message: ''
      }
    }
  },
  methods: {
    validateBeforeSubmit () {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.createHotel()
        }
      })
    },
    createHotel () {
      this.status = {hasError: null, message: ''}
      const hotel = {name: this.name, hospitality_type: this.hospitality_type,  phone: this.contact, location: this.location, website: this.website}

      if (!hotel.website) delete hotel.website

      this.manager.errorMessage = ''

      if (this.shouldAddManager) {
        let {fname, surname, email, phone} = this.manager

        //validate manager details
        if (!fname || !surname || !email || !phone) {
          this.manager.errorMessage = 'Please provide value for all fields of manager'
          return false
        } else if (!/(.+)@(.+){2,}\.(.+){2,}/.test(email)) {
          this.manager.errorMessage = 'Please provide a valid email address'
          return false
        } else if (!/^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/.test(phone) || phone.length < 10) {
          this.manager.errorMessage = 'Please provide valid phone number'
          return false
        } else {
          hotel.manager = {firstname: fname, lastname: surname, email, phone}
        }

      }

      // console.log(hotel)

      this.loading = true
      this.axios({
        url: 'hotels',
        method: 'post',
        data: hotel
      }).then(response => {
        console.log(response.data)
        this.loading = false
        this.$store.dispatch('addHotel', response.data)
        this.status.hasError = false
        this.status.message = 'Hotel added successfuly'
      }).catch(error => {
        this.status.hasError = true
        this.status.message = 'Oops, Something unexpected occured'
        console.log(error)
        this.loading = false
      })
    }
  }
}
</script>

<style scoped>
  .add-hotel{
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.05);
    padding: 20px;
  }
  h5{
    font-family: Lato;
    text-transform: uppercase;
    color: #4a4a4a;
  }
  h5 i{
    /*display: inline-block;*/
    background-color: rgba(155, 155, 155, 0.32);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.05);
    font-weight: normal;
    padding: 10px;
    border-radius: 20px;
    font-size: 12px;
  }
  /*h5 a:hover i{*/
    /*background: red;*/
    /*color: white;*/
  /*}*/
  .add-hotel-form{
    padding: 30px;
  }
  .add-hotel-form .row{
    margin-bottom: 20px;
  }
  .add-hotel-form .form-control{
    padding: 10px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #dddddd;
    border-radius: 0px;
    transition: border-bottom-color 0.5s ease;
  }
  .add-hotel-form .form-control:focus{
    outline: none;
    box-shadow: none;
    border-bottom-color: #117ACB;
  }
  .btn{
    border-radius: 20px;
    /*padding-left: 30px;*/
    /*padding-right: 30px;*/
    display: inline-block;
    text-align: center;
    width: 40%;
  }
</style>
