<template>
    <div>
      <app-table v-if="home">
        <thead class="bg-blue" slot="header">
        <th>Name</th>
        <th>Location</th>
        <th>Contact</th>
        <th>Manager</th>
        <th>Website</th>
        <!-- <th style="padding-left: 30px;">Edit</th> -->
        <th style="padding-left: 30px;">Delete</th>
        </thead>
        <tbody slot="body">
        <tr v-for="(hotel, index) in hotels" :key="index">
          <td>{{hotel.name}}</td>
          <td>{{hotel.location ? hotel.location.town + ', ' : ''}} {{hotel.location ? hotel.location.region : ''}}</td>
          <td>{{hotel.contact}}</td>
          <td>{{hotel.manager ? hotel.manager.name : 'not set'}}</td>
          <td>
            <a v-if="hotel.website" target="blank" :href="hotel.website ? hotel.website : 'javascript:void(0)'">{{hotel.website}}</a>
          </td>
          <!-- <td>
            <button @click.prevent="edit(hotel)" class="btn btn-sm bg-blue">Edit</button>
          </td> -->
          <td>
            <button @click.prevent="confirmDelete(hotel)" class="btn btn-sm bg-red">Delete</button>
          </td>
        </tr>
        </tbody>
        <div class="pages text-center p-3" slot="pagination">
          <!--<a href="#" class="previous">Previous</a>-->
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">6</a>
          <a href="#">7</a>
          <a href="#" class="next">Next</a>
        </div>
      </app-table>
      <app-edit :goBack="cancelEdit" :hotel="selectedHotel" v-else>
        <a href="#" @click.prevent="cancelEdit" class="float-right">
          <span class="fa fa-times"></span>
        </a>
      </app-edit>
      <app-delete-modal v-if="showDelete">
        <h5 slot="message" class="text-center">
          <span v-if="status.hasError === null">Are you sure you want to delete {{hotelName}}?</span>
          <span v-else>{{status.message}}</span>
          <!-- <span v-if="status.hasError === true">{{status.message}}</span> -->
        </h5>
        <button v-if="!deleting && status.hasError === null" slot="cancel" @click.prevent="cancelDelete" class="btn bg-blue">CANCEL</button>
        <button v-if="status.hasError !== null" slot="cancel" @click.prevent="cancelDelete" class="btn bg-blue">OK</button>
        <button v-if="!deleting && status.hasError === null"  slot="confirm" @click.prevent="deleteHotel" class="btn bg-red">DELETE</button>
        <button v-if="deleting"  slot="confirm" class="btn bg-red"><i class="fa fa-spinner fa-spin"></i> DELETING...</button>
      </app-delete-modal>
    </div>
</template>
<script>
import Table from '../commons/table.vue'
import EditHotel from './editHotel.vue'
import Delete from '../commons/deleteModal.vue'
import {mapGetters} from 'vuex'
export default {
  data () {
    return {
      home: true,
      showDelete: false,
      selectedHotel: {},
      hotelToDelete: '',
      deleting: false,
      status: {hasError: null, message: ''}
    }
  },
  components: {
    AppTable: Table,
    AppEdit: EditHotel,
    AppDeleteModal: Delete
  },
  computed: {
    ...mapGetters({
      hotels: 'getHotels'
    }),
    hotelName () {
      if (this.hotelToDelete.name.indexOf('Hotel') === -1 && this.hotelToDelete.name.indexOf('hotel') === -1) {
        return `${this.hotelToDelete.name} Hotel`
      }
      return this.hotelToDelete.name
    }
  },
  methods: {
    edit (hotel) {
      // console.log('editing hotel')
      this.home = false
      this.selectedHotel = hotel
    },
    cancelEdit () {
      this.home = true
    },
    confirmDelete (hotel) {
      this.deleting = false
      this.status = {hasError: null, message: ''}
      this.hotelToDelete = hotel
      this.showDelete = true
    },
    deleteHotel () {
      this.status.hasError = null
      this.status.message = ''
      this.deleting = true
      this.axios({
        method: 'delete',
        url: `hotels/${this.hotelToDelete.id}`
      }).then((response) => {
        // console.log(response)
        this.$store.dispatch('removeHotel', this.hotelToDelete.id)
        // this.showDelete = false
        this.status.hasError = false
        this.status.message = `${this.hotelName} has been deleted successfuly`
        this.deleting = false
      }).catch(error => {
        // this.showDelete = false
        this.status.hasError = true
        this.status.message = `Something unexpected happened, ${this.hotelName} could not be deleted, try again later`
        this.deleting = false
        console.log(error)
      })
      // setTimeout(function () {
      //   console.log('deleted')
        
      // }, 1000)
    },
    cancelDelete () {
      this.showDelete = false
    }
  }
}
</script>
<style scoped>
  .btn{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
  }
  .btn span{
    padding-left: 20px;
    color: white;
  }
  .btn:hover{
    background: rgba(0, 0, 0, 0.2);
  }
</style>
