<template>
  <div class="hotels">
    <div class="buttons">
      <!--<button class="btn  bg-red"> -  <span>DELETE HOTEL</span></button>-->
      <!--<button class="btn  bg-blue"> \  <span>EDIT HOTEL</span></button>-->
      <button v-if="selectedComponent === 'AppHome'" class="btn  bg-blue" @click.prevent="selectedComponent = 'AppAdd'"> +  <span>ADD HOTEL</span></button>
      <button class="btn  bg-blue" @click="selectedComponent = 'AppHome'" v-else><i class="fa fa-backward"></i> Go Back</button>
    </div>
    <component :is="selectedComponent" @cancelAdd="cancelAddHotel"></component>
  </div>
</template>
<script>
import Home from './home.vue'
import Add from './addHotels.vue'
export default {
  props: ['isAdd'],
  data () {
    return {
      selectedComponent: 'AppHome'
    }
  },
  components: {
    AppHome: Home,
    AppAdd: Add
  },
  methods: {
    cancelAddHotel () {
      this.selectedComponent = 'AppHome'
    }
  },
  mounted () {
    if (this.isAdd) {
      this.selectedComponent = 'AppAdd'
    }
  }
}
</script>
<style scoped>
  .btn{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
  }
  .btn span{
    padding-left: 20px;
    color: white;
  }
  .btn:hover{
    background: rgba(0, 0, 0, 0.2);
  }
  div.buttons{
    /*clear: both;*/
    margin-bottom: 10px;
    /*background: red !important;*/
    /*width: 100%;*/
    /*height: 40px;*/
    text-align: right;
  }
</style>
