<template>
    <div class="row">
      <div class="col-sm-10 col-md-8 col-lg-8 col-xl-8 offset-sm-1 offset-md-2 offset-lg-2 offset-xl-2">
        <div class="login-page">
          <img src="/static/logo/logo-white.png"/>
          <h3><b>W3MSYS</b><span>ADMIN</span></h3>
          <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-6 col-xl-6 offset-sm-2 offset-md-2 offset-lg-3 offset-xl-3">
              <div class="login-form">
                <form @submit.prevent="login">
                  <p v-if="authFailed">Login failed. Invalid Credentials</p>
                  <input type="text" v-model="username" placeholder="Username" class="form-control"/>
                  <input type="password" v-model="password" placeholder="Password" class="form-control"/>
                  <button type="submit" class="btn btn-block button" v-if="!loading">Login</button>
                  <a href="javascript:void(0)" class="btn btn-block button" v-else><span class="fa fa-spinner fa-spin"></span> loading...</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
/* eslint-disable no-undef */

export default {
  data () {
    return {
      username: '',
      password: '',
      loading: false,
      authFailed: false
    }
  },
  mounted () {
    $('.login-page').fadeIn(1000)
    $('body').css({background: '#53207D'})

    // this.axios({method: 'get', url: '/api'}).then(response => console.log(response.data))
  },
  methods: {
    login () {
      if (!this.username || !this.password) {
        return false
      }
      this.loading = true
      this.authFailed = false
      this.axios({
        url: 'login',
        method: 'post',
        data: {
          username: this.username, password: this.password
        }
      }).then(response => {
        this.loading = false
        this.$auth.setToken(response.data.access_token)
        // this.$store.dispatch('setHotels', response.data.hotels)
        // this.$store.dispatch('setManagers', response.data.managers)
        this.$router.push({name: 'Dashboard'})
      }).catch(error => {
        this.authFailed = true
        this.loading = false
        console.log(error)
      })
    }
  }
}
</script>
<style>
body{
  background: #53207D;
}
  .login-page{
    text-align: center;
    margin-top: 70px;
    display: none;
  }
  .login-page h3{
    color: white !important;
    font-family: AvenirNextLight;
    font-weight: normal !important;
  }
  .login-form h3 b{
    font-family: AvenirNextBold;
  }
  .login-form{
    width: 80%;
    margin: 90px auto 0 auto;
    text-align: center;
  }
  .login-form p{
    color: white;
    margin-bottom: 50px;
  }
  .login-form input{
    transition: 0.5s ease;
    text-align: center;
    background: #53207D !important;
    margin-bottom: 50px;
    color: white !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
    border-radius: 0px;
    outline: none;
  }
  .login-form input:focus{
    background: #53207D;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-bottom-color: white;
    box-shadow: none;
  }
  .login-form input::placeholder{
    text-align: center;
    color: white;
    font-family: AvenirNextLight;
    letter-spacing: 0.6px;
  }
  .login-form .button{
    background: white;
    color: #53207D;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
  }
  .login-form .button:hover{
    color: white;
    border-color: white;
    background: #53207D;
  }
.login-form .button:active{
  background: white;
  color: #53207D;
}
</style>
