<template>
  <!--<transition name="fade" mode="out-in">-->
    <router-view></router-view>
  <!--</transition>-->
</template>

<script>
/* eslint-disable no-undef */

export default {
  name: 'App'
}
</script>

<style>
#app {
}
</style>
