<template>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 offset-md-2 offset-lg-2">
      <div class="add-hotel">
        <h5>Add Manager Information <a href="#" @click.prevent="$emit('cancelAdd')" class="float-right">
          <i class="fa fa-close"></i>
        </a></h5>
        <p class="text-center" v-if="status.hasError !== null" :class="{'text-danger': status.hasError === true, 'text-success': status.hasError === false}">{{status.message}}</p>
        <p class="text-center text-danger" v-if="!hotels.length">There's no hotel to assign to the manager you're about to create. Please create a hotel first</p>
        <form class="add-hotel-form" @submit.prevent="validateBeforeSubmit">

          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label class="text-danger" v-if="errors.has('firstname')">{{errors.first('firstname')}}</label>
                <input name="firstname" v-model="firstname" v-validate="'required|min:3'" type="text" placeholder="Firstname" class="form-control"/>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label class="text-danger" v-if="errors.has('surname')">{{errors.first('surname')}}</label>
                <input name="surname" v-model="surname" v-validate="'required|min:3'" type="text" placeholder="Surname" class="form-control"/>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="text-danger" v-if="errors.has('contact')">{{errors.first('contact')}}</label>
                <input name="contact" v-model="contact" v-validate="'required|numeric|min:10'" type="text" placeholder="Contact" class="form-control"/>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="text-danger" v-if="errors.has('email')">{{errors.first('email')}}</label>
                <input name="email" v-model="email" v-validate="'required|email'" type="text" placeholder="Email" class="form-control"/>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="text-danger" v-if="errors.has('hotel')">{{errors.first('hotel')}}</label>
                <!-- <input type="text" placeholder="Hotel" class="form-control"/> -->
                <select class="form-control" name="hotel" style="padding-bottom: 2px;" v-model="hotel_id" v-validate="'required'">
                  <option value="">Select Hotel</option>
                  <option v-for="(hotel, index) in hotels" :key="index" :value="hotel.id">{{hotel.name}}</option>
                </select>
              </div>
              <!-- <br>
              <div class="form-group">
                <label for="token">Send token immediately </label>
                <input id="token" type="checkbox" v-model="sendtoken"/>
              </div> -->
            </div>
            
          </div>
          <div class="row">
            <div class="col-sm-12 text-center">
              <button v-if="!loading" type="submit" class="btn bg-blue">+ ADD MANAGER</button>
              <a href="javascript:void(0)" class="btn bg-blue disabled" v-else><span class="fa fa-spinner fa-spin"></span> Please wait...</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import {mapGetters} from 'vuex'
export default {
  data () {
    return {
      firstname: '',
      surname: '',
      contact: '',
      email: '',
      hotel_id: '',
      loading: false,
      sendtoken: false,
      status: {
        hasError: null, message: ''
      }
    }
  },
  computed: {
    ...mapGetters({
      hotels: 'getHotels'
    })
  },
  methods: {
    validateBeforeSubmit () {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.createManager()
        }
      })
    },
    createManager () {
      this.loading = true
      const manager = {firstname: this.firstname, lastname: this.surname, email: this.email, phone: this.contact, institution_id: this.hotel_id}
      console.log(manager)
      // return
      this.axios({
        method: 'post',
        url: 'managers',
        data: manager
      }).then(response => {
        this.loading = false
        this.status.hasError = false
        this.status.message = 'Manager created successfully'
        this.$store.dispatch('addManager', response.data)
      }).catch(error => {
        this.loading = false
        console.log(error)
        this.status.hasError = true
        this.status.message = 'Oops, Something unexpected happened'
      })
    }
  }
}
</script>

<style scoped>
  .add-hotel{
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.05);
    padding: 20px;
  }
  h5{
    font-family: Lato;
    text-transform: uppercase;
    color: #4a4a4a;
  }
  h5 i{
    /*display: inline-block;*/
    background-color: rgba(155, 155, 155, 0.32);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.05);
    font-weight: normal;
    padding: 10px;
    border-radius: 20px;
    font-size: 12px;
  }
  /*h5 a:hover i{*/
  /*background: red;*/
  /*color: white;*/
  /*}*/
  .add-hotel-form{
    padding: 30px;
  }
  .add-hotel-form .row{
    margin-bottom: 20px;
  }
  .add-hotel-form .form-control{
    padding: 10px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #dddddd;
    border-radius: 0px;
    transition: border-bottom-color 0.5s ease;
  }
  .add-hotel-form .form-control:focus{
    outline: none;
    box-shadow: none;
    border-bottom-color: #117ACB;
  }
  .btn{
    border-radius: 20px;
    /*padding-left: 30px;*/
    /*padding-right: 30px;*/
    display: inline-block;
    text-align: center;
    width: 40%;
  }
</style>
