<template>
  <div>
    <app-table v-if="home">
      <thead class="bg-blue" slot="header">
      <th>Name</th>
      <th>Contact</th>
      <th>Hotel</th>
      <th>Token sent on</th>
      <th>Send Token</th>
      <!-- <th>Location</th> -->
      <th>Delete</th>
      </thead>
      <tbody slot="body">
      <tr v-for="(manager, index) in managers" :key="index">
        <td>{{manager.name}}</td>
        <td>{{manager.contact}}</td>
        <td>{{manager.institution ? manager.institution.name : ''}}</td>
        <td>{{new Date(manager.token_updated_at).toDateString() + ' at ' + new Date(manager.token_updated_at).toLocaleString().split(',')[1]}}</td>

        <td>
          <button @click.prevent="sendToken($event, manager.id)" class="btn btn-sm bg-blue">
            <div class="spinner"></div>
            <span class="name">Send Token</span>
          </button>
        </td>

        <!-- <td>
          <button @click.prevent="edit(manager)" class="btn btn-sm bg-blue">Edit</button>
        </td> -->
        
        <td>
          <button @click.prevent="confirmDelete(manager)" class="btn btn-sm bg-red">Delete</button>
        </td>
      </tr>
      </tbody>
      <div class="pages text-center p-3" slot="pagination">
        <!--<a href="#" class="previous">Previous</a>-->
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">7</a>
        <a href="#" class="next">Next</a>
      </div>
    </app-table>
    <app-edit :goBack="cancelEdit" :manager="selectedManager" v-else>
      <a href="#" @click.prevent="cancelEdit" class="float-right">
        <span class="fa fa-times"></span>
      </a>
    </app-edit>
    <app-delete-modal v-if="showDelete">
      <h5 slot="message" class="text-center">
         <span v-if="status.hasError === null">Are you sure you want to delete {{managerToDelete.name}}?</span>
          <span v-else>{{status.message}}</span>
      </h5>
      <button v-if="!deleting && status.hasError === null" slot="cancel" @click.prevent="cancelDelete" class="btn bg-blue">CANCEL</button>
      <button v-if="status.hasError !== null" slot="cancel" @click.prevent="cancelDelete" class="btn bg-blue">OK</button>
      <button v-if="!deleting && status.hasError === null"  slot="confirm" @click.prevent="deleteManager" class="btn bg-red">DELETE</button>
      <button v-if="deleting"  slot="confirm" class="btn bg-red"><i class="fa fa-spinner fa-spin"></i> DELETING...</button>
    </app-delete-modal>
  </div>
</template>
<script>
import Table from '../commons/table.vue'
import EditManager from './editManager.vue'
import Delete from '../commons/deleteModal.vue'
import {mapGetters} from 'vuex'
export default {
  data () {
    return {
      home: true,
      showDelete: false,
      selectedManager: {},
      managerToDelete: null,
      deleting: false,
      status: {hasError: null, message: ''}
    }
  },
  computed: {
    ...mapGetters({
      managers: 'getManagers'
    })
  },
  components: {
    AppTable: Table,
    AppEdit: EditManager,
    AppDeleteModal: Delete
  },
  mounted () {
    // this.$api.getHotels()
  },
  methods: {
    edit (manager) {
      // console.log('editing hotel')
      this.home = false
      this.selectedManager = manager
    },
    cancelEdit () {
      this.home = true
    },
    confirmDelete (manager) {
      this.status.hasError = null
      this.status.message = ''
      this.selectedManager = manager
      this.managerToDelete = manager
      this.showDelete = true
    },
    deleteManager () {
       this.deleting = true
      this.axios({
        method: 'delete',
        url: `managers/${this.managerToDelete.id}`
      }).then((response) => {
        // console.log(response)
        this.$store.dispatch('removeManager', this.managerToDelete.id)
        this.status.hasError = false
        this.status.message = `${this.managerToDelete.name} has been deleted successfully`
        // this.showDelete = false
        this.deleting = false
      }).catch(error => {
        this.status.hasError = true
        this.status.message = `Something unexpected happened, ${this.managerToDelete.name} could not be deleted, please try again later`
        // this.showDelete = false
        this.deleting = false
        console.log(error)
      })
    },
    cancelDelete () {
      this.showDelete = false
    },
    sendToken (event, managerId) {
      let target = $(event.target)
      if (target.hasClass('name')) {
        target = target.parent()
      }
      
      target.find('.spinner').css({ display: 'inline-block' })
      target.find('.name').text('in progress')

      this.axios({
        url: `/managers/${managerId}/refresh_token`,
        method: 'get'
      }).then(response => {
        target.find('.spinner').hide()
        target.find('.name').text('Send Token')
      }).catch(err => {
        target.find('.spinner').hide()
        target.find('.name').text('Send Token')
      })
    }
  }
}
</script>
<style scoped>
  .btn{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
  }
  .btn .name{
    color: white;
    display: inline-block;
    margin-left: 5px;
  }
  .btn:hover{
    background: rgba(0, 0, 0, 0.2);
  }
  .btn .fa-spin{
    display: none;
  }
  /* .name{
    margin-le
  } */
</style>
